
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    background: "C:\Users\serge\Desktop\new site\index.html2\HTML\background.jpg";
}  
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 10px 5px 10px rgb(90, 187, 240);
}
.logo {
    font-size: 20px;
    font-weight: 900;
    color: black;
    transition: .5s;
}
.logo:hover{
    transform: scale(1.2);
}
header nav ul li{
    position: relative;
    float: left;
}
header nav ul li a{
    padding: 15px;
    color: chocolate;
    font-size: 16px;
    display: block;
}
header nav ul li a:hover{
    background: rgb(13, 155, 237);
    color: antiquewhite;
}
nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: rgb(133, 247, 251);
    display: none;
}
nav ul li ul li{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul li ul li ul{
    left: 180px;
    top: 0;
}
nav ul li:hover >ul{
    display: initial;
     
}
.blue{
    background: rgb(0, 119, 255)24, 24, 227);
}